<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>PERSON RESORT</h1>
            <p>
                 El hotel PERSON RESORT se encuentra a menos de 15 minutos en taxi del Museo de arte moderno de Medellín. El arte desempeña una función destacada en el hotel; su moderno lobby es un espacio con la luz perfecta para exposiciones de arte y escultura.
                Si tiene alma de artista, le encantarán los cuadros y esculturas de estilo abstracto y figurativo que descubrirá durante su estancia.
            </p>

        </div>
        <div class="col-12 col-md-4 my-5">

            <div class="row">
                <div class="col-6">
                    <img src="../../assets/img/ba.jpg" alt="" class="img-fluid w-100">
                </div>
                
            </div>
            
    </div>
</div>
<section>
<div class="row">
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bar-Villar</h5>
        <img src="../../assets/img/servicio6.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">Se presta las 24 horas solo para mayores de edad</p>
        <a href="#" class="btn btn-primary">Mas informacion</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sala de tenis </h5>
        <img src="../../assets/img/servicio5.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">permitido personas mayores de 15 años de todos los generos</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Spa</h5>
        <img src="../../assets/img/servicio4.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">Par toda la familia,no se permite el ingreso de mascostas ni de objetos metalicos como aretas coyares y otros adornos</p>
        <a href="#" class="btn btn-primary">Mas Informacion</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Restaurante</h5>
        <img src="../../assets/img/servicio3.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">Para toda la famila las 24 horas </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gimnasio</h5>
        <img src="../../assets/img/servicio2.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">Para mayores de 13</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Psicina</h5>
        <img src="../../assets/img/servicio1.jpg" class="w-100 img-fluid" alt="servicio">
        <p class="card-text">Para toda la familia</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>
     